body {
    display: block;
    border: 1px dashed black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6in;
    height: 6in;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
}

address.return {
    border: 1px dashed black;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 0.1in;
    float: left;
    width: 2.9in;
    height: 1.5in;
}

address.destination {
    border: 1px dashed black;
    position: absolute;
    top: 146px;
    left: 1in;
    padding-top: 0.75in;
    width: 4in;
    height: 2.25in;
}

address.destination p {
    text-align: center;
}

div.postage {
    border: 1px dashed black;
    padding-right: 0.1in;
    text-align: right;
    float: right;
    width: 2.4in;
    height: 1in;
}

div.order {
    border: 1px dashed black;
    position: absolute;
    top: 527px;
    padding: 0 0.1in;
    float: left;
}